* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    font-family: 'Rubik','Open Sans';
}

body {
    background-color: rgb(243, 243, 243);
}

.show {
    display: initial;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}

.max-width {
    width: 50%;
}

.margin-top-bottom--small {
    margin-top: 1em;
    margin-bottom: 1em;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-centered {
    margin: 0 auto;
}